
<section class="main-image">
  <div class="boobs-row row overlay">
    <div class="column twelve center">
      <%= image_tag 'main_drawing.png', class: 'boobs' %>  
    </div>
    
  </div>
</section>

<section class="row promo-row">
  <div class="column twelve center">
    <h2>CREATE. SHARE. HEAL. CONNECT.</h2>  
  </div>
</section>

