<p class="quote top">I Want to Inspire People</p><br />
<p class="quote">I Want Someone</p><br />
<p class="quote">To Look At Me And Say</p><br />
<p class="quote">"Because of You, I Didn't Give Up"</p><br />