<section class="main-image" xmlns="http://www.w3.org/1999/html">
  <div class="boobs-row row">
    <%= image_tag 'boodle_index.jpg' %>
  </div>
</section>

<section class="row promo-row">
  <div class="column twelve center">
    <h2>CREATE. SHARE. HEAL. CONNECT.</h2>
  </div>
</section>

<section class=" how-it-works">

  <div class="row how-row">
    <div class="one-half column ">
      <%= image_tag 'draw2.png' %>
    </div>
    <div class="one-half column">
      <h3>A Picture Tells a Thousand Words</h3>

      <p>Our bodies have a thousand stories. Some bring laughs, some bring tears. Boodle is your opportunity to add your
        stories to the collection.</p>
    </div>
  </div>

  <div class="row how-row">
    <div class="one-half column ">
      <%= image_tag 'hands.png' %>
    </div>
    <div class="one-half column">
      <h3>Connect and Heal</h3>

      <p>Browse through the collection of stories, sharing your thoughts, prayers and experiences with other women.</p>
    </div>
  </div>

</section>

