
<section class="main-image">
  <%= image_tag 'background.jpg' %>
  <div class="overlay">
    <%= image_tag 'main_drawing.png', class: 'boobs' %>
  </div>
</section>

<section class="row promo-row">
  <div class="column twelve center">
    <h2>CREATE. SHARE. HEAL. CONNECT.</h2>  
  </div>
</section>

