
<section class="main-image">
  <div class="boobs-row row">
      <%= image_tag 'boodle_index.jpg' %>
    </div>
</section>

<section class="row promo-row">
  <div class="column twelve center">
    <h2>CREATE. SHARE. HEAL. CONNECT.</h2>  
  </div>
</section>

