<div class="boodle-container">

  <canvas id="boodle-canvas">
  </canvas>
  
  <div class="tools">
    <a href="#boodle-canvas" class="color cfff" data-color="#fff"></a>
    <a href="#boodle-canvas" class="color c000" data-color="#000"></a>
    <a href="#boodle-canvas" class="color cf00" data-color="#f00"></a>
    <a href="#boodle-canvas" class="color c0f0" data-color="#0f0"></a>
    <a href="#boodle-canvas" class="color c00f" data-color="#00f"></a>
  </div>

</div>