<div class="tools u-pull-left">
  <a href="#boodle-canvas" class="color cfff" data-color="#fff"></a>
  <a href="#boodle-canvas" class="color cea8bbc" data-color="#ea8bbc"></a>
  <a href="#boodle-canvas" class="color cb7a2cf" data-color="#b7a2cf"></a>
  <a href="#boodle-canvas" class="color c49c5dc" data-color="#49c5dc"></a>
  <a href="#boodle-canvas" class="color c9ec081" data-color="#9ec081"></a>
  <a href="#boodle-canvas" class="color cfdc64a" data-color="#fdc64a"></a>
  <a href="#boodle-canvas" class="color cff7b10" data-color="#ff7b10"></a>
  <a href="#boodle-canvas" class="color cc6132a" data-color="#c6132a"></a>
</div>
