<p id="notice"><%= notice %></p>

<h2><%= @boodle.title %></h2>
<img src="<%= @boodle.data_url %>" />

<!--reach out if different user and they are a long term survivor-->
<!--show comments-->
<!--Add comments if different user-->

