#boodles-controller {

  canvas {
    background-color: $boodle-background-color;
  }
  
  div.boodle {
    background-color: $boodle-background-color;
    
    div.info {
      background-color: rgba(0, 0, 0, 0.8);
      text-align: center;
      padding: .5em;
    }
    
    img { width: 100%; height: 100%; }
  }
  
  .create-boodle {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 1rem;
  }
  
}

#boodles-controller.index-action {
  
  div.preview {
    display: inline-block;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    
    a {
      text-decoration: none;
      color: white;
    }
    
    img { width: 18em; height: 18em; }
  }
}

#boodles-controller.show-action {
  
  h3 {
    text-align: center;
    margin-top: 2rem;
  }
  
  li {
    padding: 1rem;
    margin-top: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    list-style: none;
  }
  
  input[type="submit"] {
    width: 100%;
  }
  
}