#boodles-controller {
  div.boodle {
    background-color: rgba(255, 255, 255, 0.6);
    
    div.info {
      background-color: rgba(0, 0, 0, 0.8);
      text-align: center;
      padding: .5em;
    }
  }
}

#boodles-controller.index-action {
  
  div.preview {
    display: inline-block;
    margin: 1em;
    
    a {
      text-decoration: none;
      color: white;
    }
    
    img { width: 18em; height: 18em; }
  }
}
