#main-controller.stylishness-action {
  .heading { text-decoration: underline; }  
}

#main-controller {
  background-image: none;
  font-family: 'indie-flower';

  header {
    margin-bottom: 0;
  }

  &.index-action {
    .boobs-row img{
      width: 100%;
    }

    .promo-row {
      background: $black;
      color: $white;

    }

  }  
}
