body {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    image-url('background.jpg');
   
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
}


header {
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  width: 100%;
  margin-bottom: 4rem;

  div.container { padding: 0rem; }
  div.logo { float: left; margin-top: 1rem;}
  div.create { float: right; }

  a {
    text-decoration: none;
    color: $lavender;
    float: right;
    font-size: 3rem;
    margin: 0;
    padding: 0;
    line-height: 1.2;
  }

  img {
    display: inline-block;
    height: 3rem;
  }

  a.right { float: right; margin-top: 1rem; }
}