@font-face {
  font-family: 'desyrelregular';
  src: url('desyrel_-webfont.eot');
  src: url('desyrel_-webfont.eot?#iefix') format('embedded-opentype'),
  url('desyrel_-webfont.woff2') format('woff2'),
  url('desyrel_-webfont.woff') format('woff'),
  url('desyrel_-webfont.ttf') format('truetype'),
  url('desyrel_-webfont.svg#desyrelregular') format('svg');
  font-weight: normal;
  font-style: normal;

}